services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    env_file:
      - ./.env
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    volumes:
      - ./server:/app
      - /app/node_modules
    depends_on:
      - postgres
    command: npm run dev
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    env_file:
      - ./.env
    ports:
      - "${CLIENT_PORT}:${CLIENT_PORT}"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    depends_on:
      - server
    command: npm run start
  postgres:
    image: postgres:16
    container_name: jobapp-postgres
    env_file:
      - ./.env
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./server/db-init:/docker-entrypoint-initdb.d
volumes:
  pgdata: